
<div class="new_project">+<%= link_to 'Create New Project'%></div>
<div class="seperator"></div>
<div class="project_list_header">MY PROJECTS</div>
<div class="seperator"></div>
<%= render :partial => 'projectlist' %>