#container{margin:0 auto;min-width:1024px;max-width:100%;}

.userinfo {font:12px Arial; text-align:right;color:#555555;padding-right:10px;}

.user {font:13px Arial;color:#9ab223;margin-right:2px;}
.userbar a{font:12px Arial;color:#555555; margin:0 2px 0 2px;}
.userbar a:hover {color : #9ab223;}

.seperator {clear:both;}
.topbar{margin-bottom:10px;}
.name {background:url(../images/logo.png) no-repeat;height:63px;float:left;width:332px;margin-bottom:10px;}

#navbar {text-align:right;float:right;height:35px;margin-top:40px;padding-right:10px;}

.plan {background-color:#555555;float:left;margin-right:3px;}
.plan a {color : #E2E4E4;height:25px;padding-top:10px;width:120px;text-align:center;float:left;font:12px Arial;text-decoration:none;}
.plan a:hover {color : #9ab223;}
.plan_current {background-color:#E2E4E4;float:left;margin-right:3px;}
.plan_current a {color : #555555;height:25px;width:120px;text-align:center;float:left;font:12px Arial;text-decoration:none;padding-top:10px;}
.plan_current a:hover {color : #9ab223;}

#tasks a {color:#555555;font:12px Arial;text-decoration:none;}
#tasks a:hover {color:#9ab223;}

.todo {background-color:#555555;float:left;margin-right:3px;}
.todo a {color:#E2E4E4;font:12px Arial;text-decoration:none;height:25px;width:90px;text-align:center;float:left;padding-top:10px;}
.todo a:hover {color:#9ab223;}
.todo_current {background-color:#E2E4E4;float:left;margin-right:3px;}
.todo_current a {color:#555555;font:12px Arial;text-decoration:none;height:25px;width:90px;text-align:center;float:left;padding-top:10px;}
.todo_current a:hover {color:#9ab223;}

.status {background-color:#555555;float:left;margin-right:3px;}
.status a {color:#E2E4E4;font : 12px Arial;text-decoration : none;height:25px;width:140px;text-align:center;float:left;padding-top:10px;}
.status a:hover {color:#9ab223;}
.status_current {background-color:#E2E4E4;float:left;margin-right:3px;}
.status_current a {color:#555555;font : 12px Arial;text-decoration : none;height:25px;width:140px;text-align:center;float:left;padding-top:10px;}
.status_current a:hover {color:#9ab223;}

.dashboard {background-color:#555555;margin-right:3px;float:left;}
.dashboard a {color:#E2E4E4;font:12px Arial;text-decoration:none;height:25px;float:left;width:100px;text-align:center;padding-top:10px;}
.dashboard a:hover {color:#9ab223;}
.dashboard_current {background-color:#E2E4E4;margin-right:3px;float:left;}
.dashboard_current a {color:#555555;font:12px Arial;text-decoration:none;height:25px;float:left;width:100px;text-align:center;padding-top:10px;}
.dashboard_current a:hover {color:#9ab223;}

.people {background-color:#555555;margin-right:3px;float:left}
.people a {color : #E2E4E4;font : 12px Arial;text-decoration : none;height:25px;float:left;width:75px;text-align:center;padding-top:10px;}
.people a:hover {color : #9ab223;}
.people_current {background-color:#E2E4E4;margin-right:3px;float:left}
.people_current a {color : #555555;font : 12px Arial;text-decoration : none;height:25px;float:left;width:75px;text-align:center;padding-top:10px;}
.people_current a:hover {color : #9ab223;}

#maincontainer {background-color:#E2E4E4;padding:10px 0 20px 0;width:100%;float:left;}
#leftcontainer {background-color:#ffffff;width:75%;float:left;margin-left:10px;padding:10px 5px 0 5px;}
#rightcontainer {width:23%;float:right;}
#rightcontainer .logo {height:100px;background-color:#ffffff;padding:40px 0 0 10px;}
#rightcontainer .project_list_header {font:13px Arial;color:white;background-color:#555555;height:25px;margin-top:20px;padding:7px 0 0 10px; }
#rightcontainer .project_list {margin:15px 0 0 15px;font:12px Arial;}
#rightcontainer .project_list a{color:#555555;}
#rightcontainer .project_list a:hover{color:#9ab223;text-decoration:none;}
#rightcontainer .new_project {margin:15px 0 0 15px;font:12px Arial;}
#rightcontainer .new_project a{color:#555555;}
#rightcontainer .new_project a:hover{color:#9ab223;text-decoration:none;}
#taskslist {}

.task{border-bottom:solid 1px #e0e0e0;padding:5px 0 5px 0;background-color:#ffffff;float:left;width:100%;}
.taskname_r {width:35%;font:12px Arial;float:left;margin-left:5px;}
.resource_r {width:24%;font:12px Arial;float:left;text-align:right;}
.startdate_r {width:24%;font:12px Arial;float:left;text-align:right;}
.enddate_r {width:24%;font:12px Arial;float:left;text-align:right;}
.handle {width:10%;font:11px Arial;color:#e0e0e0;cursor:move;float:left;text-align:right;}
.taskinfo {float:right;margin-right:5px;width:60%;}

.link_r {width:7%;height:20px;float:left;text-align:right;}
.link_r a{width:7%;text-decoration: none;color:#6e6f6a;}
.link_r a:hover{color : #9ab223;}
#newtask {font:bold 13px Arial;}

.tags{font:12px Arial;width:100%;}
.tasklabel{width:35%;float:left;}
.resourcelabel{width:25%;float:left;text-align:right;}
.startdatelabel{width:24%;float:left;text-align:right;}
.enddatelabel{width:23%;float:left;text-align:right;}
.taginfo{float:right;width:62%;}

.fields{background-color:#f5f7f7;height:40px;padding:10px 10px 0 0;margin:0 0 10px 0;border-top:solid 1px #bcbaba;}
.editfields{background-color:#f5f7f7;height:40px;padding:10px 10px 0 0;margin:0 0 10px 0;}

#field {font:13px Arial;color:#6e6f6a;width:100%;float:left;} 
#field input{font:12px Arial;width:35%;float:left;}
#field textarea{font : 12px Arial;float:left;}
.editfields input{font:12px Arial;float:left;width:35%;}
.editfields textarea{font : 12px Arial;}
.select{font:12px Arial;float:left;width:25%;text-align:right;}
.projectselect{float:left;}
.submit{font:12px Arial;float:right;width:20%;}
.update_submit{font:12px Arial;float:left;width:12%;}
.cancel {font:12px Arial;float:left;width:12%;}
.task_input_info #submit input{float:left;width:90%;}
.task_input_info #update_submit input{float:left;width:90%;}
.task_input_info #cancel input{float:left;width:90%;}
.dateselect{float:left;width:25%;text-align:right;}
.task_input_info {float:right;width:60%;}


#login{border:solid 2px #555555;padding:20px;width:500px;margin:auto;margin-top:100px;}
#login a{font:12px Arial;color:#555555; }
#login a:hover{color:#9ab223; }
.flash{margin-top:30px; color:red; font:12px Arial;}
.userfield {font:13px Arial; color:#555555; margin:30px 0 20px 90px;}
.pwdfield {font:13px Arial; color:#555555; margin:20px 0 20px 90px;}
.userfield input{margin-left:20px;}
.pwdfield input{margin-left:23px;}

#footer {font:10px Arial; margin-top:20px;margin-bottom:20px;color : #B0B09D;}